.bg-purple-900 {
  background-color: #2c0074;
}

.bg-purple-950 {
  background-color: #0b001a;
}

.bg-purple-980 {
  background-color: #080011;
}

//cores principais
.dark-bg-body {
  background-color: #080011;
}

.dark-text-body {
  color: #fff;
}

.dark-bg-body-2 {
  background-color: #0b001a;
}

//navbar
.bg-navbar-dark {
  background-color: #0b001a;
}

.text-navbar-dark {
  color: #fff;
}

.menu-items-dark {
  color: #d1d5db;

  &:hover {
    color: #fde047;
  }
}

.menu-items-active-dark {
  color: #eab308;
}

.btn-download-dark {
  background-color: #eab308;
  color: #0b001a;

  &:hover {
    background-color: #fbbf24;
  }
}

//titulo me
.dark-text-titulo-me-dark {
  color: #eab308;
}

//descricao me
.dark-highlight-descricao-me-dark {
  color: #eab308;
}

.dark-descricao-me-dark {
  color: #d1d5db;
}

//section title
.dark-text-section-title-dark {
  color: #fff;
  border-color: #eab308;
}

//formacao academica
.dark-formacao-card {
  background-color: rgba(11, 0, 26, 0.1);
  border-color: rgba(44, 0, 116, 0.2);
  border-left-color: #eab308;

  &:hover {
    box-shadow: 0 0 15px #ffffff22;
  }
}

.dark-formacao-card-universidade {
  color: #facc15;
}

.dark-formacao-card-curso {
  color: #ffffff;
}

.dark-formacao-card-formacao {
  color: #e2e8f0;
}

.dark-formacao-card-meta {
  color: rgba(221, 214, 254, 0.8);
}