//cores principais
.light-bg-body {
  background-color: #fff;
}

.light-text-body {
  color: #333;
}

.light-bg-body-2 {
  background-color: #f3f4f6;
}

//navbar
.bg-navbar-light {
  background-color: #fff;
}

.text-navbar-light {
  color: #333;
}

.menu-items-active-light {
  color: #a855f7;
}

.menu-items-light {
  color: #374151;

  &:hover {
    color: #a855f7;
  }
}

.btn-download-light {
  background-color: #a855f7;
  color: #fff;

  &:hover {
    background-color: #c084fc;
  }
}

//titulo me
.light-text-titulo-me-light {
  color: #a855f7;
}

//descricao me
.light-highlight-descricao-me-light {
  color: #a855f7;
}

.light-descricao-me-light {
  color: #374151;
}

//section title
.light-text-section-title-light {
  color: #000000;
    border-color: #a855f7;
}
