//cores principais
$dark-bg-body: #080011;
$dark-title-body: #fff;
$dark-bg-body-2: #0b001a;
$dark-nav-text: #d1d5db;
$dark-highlight: #eab308;
$dark-text-body: #d1d5db;
$dark-small-text: rgba(221, 214, 254, 0.8);
$dark-placeholder: #94a3b8;